<footer>
    <div class="f-info sticky-down">
        <div class="f-info-socials">
            <a href="https://m.facebook.com/om.bhalodiya.1/?http_ref=eyJ0cyI6IjE3NTYwMjk1Mjk0MTAiLCJyIjoiaHR0cHM6XC9cL3d3dy5nb29nbGUuY29tXC8ifQ%3D%3D">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/_om__patel_?igsh=MTY4bXk5Nm45Nzg4eQ==">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/om-bhalodiya/">
                 <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>